<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mt.smsrobo"
    android:versionCode="15"
    android:versionName="1.1.5" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

		
    <application
        android:name="com.mt.sms.SmsRobotApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<receiver
            android:name="com.mt.sms.AutoStart"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="500" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
		<receiver
            android:name="com.mt.sms.receiver.SentReceiver"   android:enabled="true"
            android:exported="false"
            >
            <intent-filter android:priority="500" >
                <action android:name="com.mt.sms.SENT" />
            </intent-filter>
        </receiver>
		<receiver
            android:name="com.mt.sms.receiver.DeliveredReceiver"   android:enabled="true"
            android:exported="false"
            >
            <intent-filter android:priority="500" >
                <action android:name="com.mt.sms.DELI" />
            </intent-filter>
        </receiver>
		<service
            android:name="com.mt.sms.service.SmsFetchIntentService">   </service>
        <service
            android:name="com.mt.sms.service.SmsLaunchIntentService" android:stopWithTask="true" >
        </service>        
        <service
            android:name="com.mt.sms.service.SmsTraceIntentService" android:stopWithTask="true" >
        </service>
        <service
            android:name="com.mt.sms.service.SmsStatsIntentService" android:stopWithTask="true" >
        </service>
        <activity
            android:name="com.mt.sms.activity.MainActivity"   android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mt.sms.activity.MyPreferenceActivity"> </activity>
        <activity
        android:name="com.mt.sms.activity.ExceptionListActivity"   android:label="@string/title_activity_exception_list"
            android:parentActivityName="com.mt.sms.activity.MainActivity">
                 <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt.sms.MainActivity" />
        </activity>
        <activity
        android:name="com.mt.sms.activity.FailListActivity"   android:label="@string/title_activity_fail_list"
            android:parentActivityName="com.mt.sms.activity.MainActivity" >    <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt.sms.MainActivity" />
        </activity>
        <activity
            android:name="com.mt.sms.activity.ListSendActivity"   android:label="@string/title_activity_list_send"
            android:parentActivityName="com.mt.sms.activity.MainActivity" >    <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mt.sms.MainActivity" />
        </activity>
        <activity
            android:name="com.mt.sms.activity.TestcaseActivity"   android:label="@string/title_activity_testcase" >
        </activity>
    </application>

</manifest>
